<footer class="footer-menu">
    <div class="box-contatos">

        <p class="align-contato font-padrao">
            Contatos:
        </p>

        <div class="espaco-contatos">

            <p class="margin-contatos alinhamento-contatos font-padrao">
                <img  class="footer-imagem1" src="/images/instagram.png"  alt="instagram">
                @JetSkateShop
            </p>

            
            <p class="alinhamento-contatos font-padrao">
                <img  class="footer-imagem1 alinhamento-contatos"  src="/images/facebook.png"  alt="facebook">
                @JetSkateShop
                </p>
            
        </div>

        <div class="espaco-contatos">
            <p class="margin-contatos alinhamento-contatos font-padrao">
                    <img  class="footer-imagem1"  src="/images/email.png"  alt="mensagem">
                jetskateshop@gmail.com

                </p> 

                <p class="alinhamento-contatos font-padrao">
                <img  class="footer-imagem1"  src="/images/whats.png"  alt="whatsapp">
                (11) 9999-9999
                </p>
        </div>
    </div>

    <div class="box-pagamentos">
        
        <p class="font-padrao">
        Formas de Pagamento:
        </p>
        <div class="margin-box-pagamentos">
            <img class="footer-imagens" src="/images/mastercard (1).png " alt="mastercard">
            <img class="footer-imagens" src="/images/elo-removebg-preview.png"  alt="visa">
        </div>

        <div  class="margin-box-pagamentos">
            <img class="footer-imagens" src="/images/elo-removebg-preview.png"  alt="elo">
            <img class="footer-imagens" src="/images/american-express-removebg-preview (1).png"  alt="american">
        </div>


    </div>

</footer>